/*Especificidad: 001*/
body{
    display: grid;
    gap: 1rem;
    grid-auto-flow: row;
}
/*Especificidad: 002*/
nav > ul {
    grid-area: nav;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.5rem;
    list-style: none;
}
/*Especificidad: 001*/
main{
    display:grid;
    gap: 1rem;
}
